#caixa1{
    height: 500px;
    width: 300px ;
    border: 1px solid ;
    padding: 10px;
    margin-bottom: 20px;
    
}

img{
    height: 500px;
    width: 300px ;

}
#caixa2{
    height: 400px;
    width: 300px ;
    border: 1px solid ;
    padding: 10px;
}

}    