div {
    border: 10px solid black; 
    border-radius: 20px;
    padding: 20px;
    background-image: url(imagem.png);
    background-size: cover;
}
#caixa1{
    border: 1px solid;
    padding: 10px;
    background-color: white;
}
#caixa2{
    border: 1px solid;
    padding: 10px;
    background-color: black;

}