div {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border:1px solid gray;
    border-radius:5px ;
    color: gray; 
    background-color: yellow;
} 

ol :first-child{
    background-color: aqua;
}

ol :last-child{
    background-color: blue;
}