div{
    width: 200px;
    height: 100px;
    border:2px solid green;
    box-shadow: 20px 20px 20px black;
    background-color: black;

 
}
h2{
    text-align: center;
    color: wheat;
}
p{
    text-align: center;
    color: wheat; 
}
